<div class="question_container">
    <div class="q">Q</div>
    <% for (var i=0; i < questions.length; i++) { %>
        <% var q = questions[i]; %> 
        <div class="question_content" data-id="<%=q.id%>">
            <p><%= q.question %></p>
        </div>
    <% }); %>
    <div class="visualclear"></div>
</div>
<div class="visualclear"></div>
<div class="answer_container">
    <div class="a">A</div>
    <div class="answer_content">
        <div>Answer the boardmember's question, then click Done to continue.</div>
        <textarea></textarea>
        <div class="popover-done">
            <button data-id="<%=id%>" type="button" class="btn btn-info disabled" data-complete-text="Done" data-loading-text="Saving...">Done</button>
        </div>
    </div>
    <div class="visualclear"></div>
</div>
<b class="border-notch notch"></b>
<b class="notch"></b>
