<div class="page-2 spacer">
    <div class="modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="Help">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Interview Stakeholder</h4>
         </div>
          <div class="modal-body profile"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>Select a Practice Location</h4>
        </div>
        <div class="col-md-offset-3 col-md-3">
            <a class="btn btn-default pull-right" href="#" data-target="#help-modal-2" data-toggle="modal" role="button">
                <span class="glyphicon glyphicon-question-sign"></span> Help</a>
            </a>

            <div class="modal fade" id="help-modal-2" tabindex="-1" role="dialog" aria-labelledby="Help">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Help</h4>
                  </div>
                  <div class="modal-body">
                        <h4>How to Select a Practice Location</h4>
                        <ol>
                            <li> Move your mouse over the map.</li>
                            <li> You will see a red star as you highlight individual cells.</li>
                            <li> Click the Map Layers button to turn on/off map information.</li>
                            <li> Use your notes to help make a decision.</li>
                            <li> When you're ready, click on a cell to select your practice location.</li>
                            <li> Change the location by clicking on other cells.</li>
                            <li> Continue on by clicking the "Complete Board Application" link.</li>
                        </ol>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <a class="btn btn-default pull-right"  data-target="#notepad-modal-2" data-toggle="modal" role="button">
                <span class="glyphicon glyphicon-th-list"></span> Notepad
            </a>

            <div class="modal fade" id="notepad-modal-2" tabindex="-1" role="dialog" aria-labelledby="Help">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Notepad</h4>
                  </div>
                  <div class="modal-body well">
                    <p>Use the notepad to record thoughts and questions as you complete the activity.</p>
                    <textarea class="notepad scrollable"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div> 

            <a href="#" class="btn btn-default pull-right" data-toggle="modal" data-target="#map-layers-modal-2">
                <span class="glyphicon glyphicon-picture"></span> Map Layers
            </a>

            <div class="modal fade" id="map-layers-modal-2" tabindex="-1" role="dialog" aria-labelledby="Help">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Select Map Layers</h4>
                  </div>
                  <div class="modal-body">
                        <% for (var i=1; i < layers.length; i++) { %>
                            <% var layer = layers[i]; %>
                            <div>
                                <input type="checkbox" class="select-layer"
                                    data-id="<%=layer.id%>" value="<%=layer.name%>"
                                    <% if (layer.visible) { %>checked="checked" <% } %>></input>
                                <%= layer.display_name %>
                            </div>
                        <% } %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div> 
        </div>
    </div>

    <div class="row spacer">
        <div class="col-md-6">
            <% if (complete) { %>
                <div class="alert alert-success">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <b>Excellent!</b> You've selected a site recommendation for your oral health program.
                    Continue on to complete your board application.
                </div>
            <% } else { %>
                <div class="alert alert-info">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    Please make your site recommendation for your oral health program.<br />
                    Move your mouse over the map, then click to select a site.
                </div>
            <% } %>
        </div>
        <div class="col-md-6">
            <div class="interview-state">
                <% for (var i=4; i >= 1; i--) { %>
                    <div class="actor-state pull-right empty"><h1><%= i %></h1></div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="row map-container spacer">
        <div class="col-md-12 text-center">
            <div class="map-layers">
                <div class="map-layer map-location-layer">
                    <table>
                        <% for (var i = 0; i < 8; i++) { %>
                            <tr>
                            <% for (var j = 0; j < 15; j++) { %>
                                <td <% if (i == row && j == col) { %>class="selected"<% } %>></td>
                            <% } %>
                            </tr>
                        <% } %>
                    </table>
                </div>
                <img src="<%=layers[0].image%>" alt="career location base map" />
                <% for (var i = 1; i < layers.length; i++) { %>
                    <% var layer = layers[i]; %>
                    <img data-id="<%=layer.id%>"
                         class="map_layer_<%=layer.id%> map-layer"
                         src="<%=layer.image%>"
                         alt="career location base map"
                         style="display: none; z-index: <%=layer.z_index%>; opacity:0.<%=layer.transparency%>; -moz-opacity:0.<%=layer.transparency%>; filter:alpha(opacity=<%=layer.transparency%>);" />
                <% } %>
                <% for (var i = 0; i < actors.length; i++) { %>
                    <% var actor = actors[i]; %>
                    <div class="actor_map_<%=actor.id%> actor-container" style="left: <%=actor.left%>px; top: <%=actor.top%>px">
                    <img data-id="<%=actor.id%>"
                         class="actor"
                         src="<%=actor.image%>"
                         alt="interview stakeholder"></img>
                        <div class="question_state"></div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="row spacer">
        <div class="col-md-12 text-center">
            <div class="map-legend-container">
                <div>
                    <h4>Map Legends</h4>
                    <div id="base_map_layer"><%= layers[0].legend %></div>
                </div>
                <% for (var i=1; i < layers.length; i++) { %>
                    <% var layer = layers[i]; %>
                    <div data-id="<%=layer.id%>"
                         class="pull-left map_legend_<%=layer.id%> map_legend"
                         style="display: none">
                        <h5><%=layer.display_name%></h5>
                        <%=layer.legend %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
